pkgbase = nirimod-git
	pkgdesc = A visual, interactive configuration interface for the niri Wayland compositor
	pkgver = r22.ed97a06
	pkgrel = 3
	url = https://github.com/srinivasr/nirimod
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = gtk4
	depends = libadwaita
	depends = python-gobject
	depends = glib2
	depends = pango
	depends = sh
	depends = niri
	provides = nirimod
	conflicts = nirimod
	source = nirimod::git+https://github.com/srinivasr/nirimod.git
	source = _LICENSE
	sha256sums = SKIP
	sha256sums = c28c2f179d5325a7fb9d58e5af0cb859c9ad895dcc5c145b16e32947d180921e

pkgname = nirimod-git
